h1 {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: 'GT Cinetype', sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 4px;
  font-family: 'GT Cinetype', sans-serif;
  font-size: 48px;
  line-height: 140%;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 4px;
  padding-top: 10px;
  padding-bottom: 4px;
  font-family: 'GT Cinetype', sans-serif;
  color: #4a4a4a;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  margin-top: 10px;
  margin-bottom: 16px;
  padding-bottom: 8px;
  font-family: 'GT Cinetype', sans-serif;
  color: #ffd0be;
  font-size: 16px;
  line-height: 140%;
  font-weight: 700;
  text-transform: uppercase;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Gentium Book Basic', sans-serif;
  color: #4a4a4a;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

p {
  margin-top: 1px;
  margin-bottom: 10px;
  font-family: 'GT Cinetype', sans-serif;
  color: #4a4a4a;
  font-size: 22px;
  line-height: 150%;
}

a {
  text-decoration: underline;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  font-family: 'GT Cinetype', sans-serif;
}

li {
  margin-bottom: 8px;
  padding-top: 4px;
  padding-bottom: 8px;
  font-family: 'GT Cinetype', sans-serif;
  color: #4a4a4a;
  font-size: 16px;
  line-height: 150%;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 18px;
  line-height: 22px;
}

figure {
  margin-bottom: 10px;
  padding-bottom: 1px;
}

figcaption {
  margin-top: 5px;
  font-family: 'GT Cinetype', sans-serif;
  text-align: center;
}

.section-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 65vh;
  padding-top: 0px;
  padding-bottom: 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 560px;
  min-height: 240px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading-hero {
  padding-bottom: 8px;
  font-family: 'GT Cinetype', sans-serif;
  font-size: 48px;
  line-height: 130%;
  font-weight: 700;
  text-align: center;
}

.p-hero {
  padding-bottom: 40px;
  font-family: 'GT Cinetype', sans-serif;
  color: #4a4a4a;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
}

.links-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.link-hero {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: 'GT Cinetype', sans-serif;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.link-hero:hover {
  border: 1px none #000;
  opacity: 0.7;
  font-style: normal;
  text-decoration: none;
}

.section-fb {
  margin-bottom: 16px;
  padding: 72px 0px;
  background-color: #b9ceff;
}

.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 36px 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 8px solid #333;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.card:hover {
  border-width: 8px;
  border-radius: 4px;
  background-color: #ffd0be;
  box-shadow: -14px 14px 0 4px #333;
}

.card-heading {
  padding-bottom: 8px;
  font-family: 'GT Cinetype', sans-serif;
  font-size: 32px;
  line-height: 130%;
  font-weight: 700;
}

.card-p {
  max-width: 70%;
  font-family: 'GT Cinetype', sans-serif;
  color: #4a4a4a;
  font-size: 18px;
  line-height: 140%;
}

.section-wd {
  margin-bottom: 16px;
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #fceabb;
}

.section-mm {
  margin-bottom: 16px;
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #d0eae4;
}

.section-d {
  margin-bottom: 16px;
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #ffd0be;
}

.thumb-image {
  position: absolute;
  right: -90px;
  bottom: -80px;
}

.wday-mock {
  position: absolute;
  right: -80px;
  bottom: -85px;
}

.mm-mock {
  position: absolute;
  right: -120px;
  bottom: -40px;
}

.image {
  position: absolute;
  left: 450px;
  right: -50px;
  bottom: -40px;
}

.footer {
  padding: 64px 0px;
  background-color: #1d1d1d;
  color: #333;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.about {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.text-block {
  padding-bottom: 16px;
  font-family: 'GT Cinetype', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.text-block-2 {
  font-family: 'GT Cinetype', sans-serif;
  color: hsla(0, 0%, 100%, .8);
  font-size: 18px;
  line-height: 140%;
}

.image-2 {
  max-width: 100%;
  padding-right: 12px;
}

.div-block-2 {
  padding-left: 8px;
}

.text-span {
  text-decoration: underline;
}

.hero-div {
  padding-right: 24px;
  padding-left: 24px;
}

.heading {
  font-size: 40px;
}

.section {
  padding-top: 16px;
  padding-bottom: 16px;
}

.image-round {
  padding-bottom: 24px;
  border-radius: 4px;
}

.padding-bottom {
  padding-bottom: 24px;
}

.grid {
  -ms-grid-columns: 3fr 1fr;
  grid-template-columns: 3fr 1fr;
}

.content-div {
  padding-bottom: 40px;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #333;
  text-decoration: none;
}

.button {
  padding: 8px 16px;
  border: 2px solid #333;
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  font-family: 'GT Cinetype', sans-serif;
  color: #333;
  font-size: 14px;
  font-weight: 700;
}

.button:hover {
  border-width: 2px;
  background-color: #333;
  color: #fff;
}

.project-section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.container-2 {
  padding-bottom: 96px;
}

.next-project-section {
  margin-top: 48px;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #333;
}

.next-project-section.yellow {
  background-color: #fffec7;
  color: #333;
}

.next-project-content {
  font-family: 'GT Cinetype', sans-serif;
  color: #333;
  font-size: 32px;
  line-height: 140%;
  text-decoration: none;
}

.body-2 {
  line-height: 150%;
}

.list-item {
  line-height: 150%;
}

.paragraph-width {
  width: 75%;
  font-family: 'Gentium Book Basic', sans-serif;
  font-size: 22px;
}

.unordered-list {
  width: 80%;
}

.project-meta {
  margin-bottom: 4px;
  padding-bottom: 12px;
  font-family: 'Gentium Book Basic', sans-serif;
  color: #4a4a4a;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.list {
  font-family: 'GT Cinetype', sans-serif;
  font-size: 16px;
  line-height: 200%;
}

.columns {
  margin-top: 0px;
  padding-top: 4px;
}

.button-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 10vh;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-container {
  padding-top: 24px;
  padding-bottom: 24px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-section {
  display: block;
  min-height: 60vh;
  padding: 64px 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.hero-section.wd-hero-image {
  min-height: 80vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fceabb), to(#fceabb));
  background-image: linear-gradient(180deg, #fceabb, #fceabb);
}

.hero-section.wd-hero-image.reduced-padding {
  padding-top: 24px;
  padding-bottom: 24px;
}

.hero-section.wd-hero-image.reduced-padding.overflow {
  overflow: hidden;
  min-height: 90vh;
  background-image: url('../images/hero-image.png'), -webkit-gradient(linear, left top, left bottom, from(#fceabb), to(#fceabb));
  background-image: url('../images/hero-image.png'), linear-gradient(180deg, #fceabb, #fceabb);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.hero-section.wd-hero-image.reduced-padding.fb-hero-image {
  background-image: url('../images/Thumb-Icon-RGB-1024.png'), -webkit-gradient(linear, left top, left bottom, from(#b9ceff), to(#b9ceff));
  background-image: url('../images/Thumb-Icon-RGB-1024.png'), linear-gradient(180deg, #b9ceff, #b9ceff);
  background-position: 50% 50%, 0px 0px;
  background-size: 200px, auto;
  background-repeat: no-repeat, repeat;
}

.hero-section.wd-hero-image.reduced-padding.mm-hero-image {
  background-image: url('../images/Real-Copy-2.png'), -webkit-gradient(linear, left top, left bottom, from(#fceabb), to(#fceabb));
  background-image: url('../images/Real-Copy-2.png'), linear-gradient(180deg, #fceabb, #fceabb);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.paragraph {
  max-width: 80%;
}

.content-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 128px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content-section.gray-bg {
  background-color: #f9f9f9;
}

.container-content {
  width: 100%;
  max-width: 800px;
  padding: 24px;
}

.heading-2 {
  padding-bottom: 12px;
}

.hero-p {
  color: #828282;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.italic-text {
  font-size: 18px;
}

.video-div {
  width: 300px;
}

.project-text h4 {
  margin-top: 16px;
  margin-bottom: 4px;
  padding-top: 8px;
  padding-bottom: 16px;
  color: #646f79;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.project-text p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  font-family: 'GT Cinetype', sans-serif;
  color: #646f79;
  font-size: 20px;
  line-height: 160%;
}

.project-text blockquote {
  font-family: 'GT Cinetype', sans-serif;
  font-size: 21px;
  line-height: 140%;
}

.project-text h5 {
  margin-top: 0px;
  margin-bottom: 4px;
  padding-top: 0px;
  padding-bottom: 4px;
  font-family: 'GT Cinetype', sans-serif;
  color: #151b26;
  font-size: 32px;
  line-height: 140%;
  font-weight: 700;
}

.project-text li {
  padding-top: 12px;
  padding-bottom: 4px;
  font-family: 'GT Cinetype', sans-serif;
  color: #646f79;
  font-size: 20px;
}

.custom-container {
  display: block;
  max-width: 760px;
  margin-right: auto;
  margin-left: auto;
}

.image-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#fafafa));
  background-image: linear-gradient(180deg, #fafafa, #fafafa);
}

.mm-hero {
  display: block;
  min-height: 70vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Matches-Macbook-Pro-2016.png'), -webkit-gradient(linear, left top, left bottom, from(#d0eae4), to(#d0eae4));
  background-image: url('../images/Matches-Macbook-Pro-2016.png'), linear-gradient(180deg, #d0eae4, #d0eae4);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.mm-hero.fb-cover {
  background-image: url('../images/thumb-3.png'), -webkit-gradient(linear, left top, left bottom, from(#b9ceff), to(#b9ceff));
  background-image: url('../images/thumb-3.png'), linear-gradient(180deg, #b9ceff, #b9ceff);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block-3 {
  padding-bottom: 24px;
  font-family: 'GT Cinetype', sans-serif;
  font-size: 40px;
  line-height: 130%;
  font-weight: 700;
}

.text-block-4 {
  font-family: 'GT Cinetype', sans-serif;
  color: #828282;
  font-size: 20px;
}

.section-3 {
  padding-top: 48px;
  padding-bottom: 40px;
}

.project-content {
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.text-block-5 {
  margin-top: 14px;
  font-family: 'GT Cinetype', sans-serif;
  color: #828282;
  font-size: 18px;
  line-height: 20px;
}

.test-content h4 {
  margin-bottom: 8px;
  color: #333;
  font-size: 22px;
  text-transform: none;
}

.test-content p {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 170%;
}

.test-content blockquote {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-style: none none none solid;
  border-left-color: #eee;
  font-family: 'GT Cinetype', sans-serif;
  color: #4a4a4a;
  font-size: 18px;
  line-height: 170%;
}

.test-content a {
  color: #333;
}

.project-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 64px 64px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#fafafa));
  background-image: linear-gradient(180deg, #fafafa, #fafafa);
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-6 {
  margin-top: 16px;
  padding-top: 12px;
  font-family: 'GT Cinetype', sans-serif;
  color: rgba(51, 51, 51, .75);
  font-size: 16px;
}

.p-hero-link {
  border-bottom: 1px solid #4a4a4a;
  color: #4a4a4a;
  text-decoration: none;
}

.shadow {
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, .14);
}

.wd-hero {
  height: 70vh;
  background-image: url('../images/hero-image.png'), -webkit-gradient(linear, left top, left bottom, from(#fceabb), to(#fceabb));
  background-image: url('../images/hero-image.png'), linear-gradient(180deg, #fceabb, #fceabb);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.proj-hero-image {
  border-radius: 4px;
}

.proj-hero-image.bg-yellow {
  background-color: #fceabb;
}

.proj-nav {
  padding-top: 40px;
  padding-bottom: 40px;
}

.proj-hero-subheading {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 6px;
  font-family: 'GT Cinetype', sans-serif;
  color: #4a4a4a;
  font-size: 22px;
  line-height: 140%;
}

.proj-hero {
  padding-top: 48px;
  padding-bottom: 0px;
}

.container-4 {
  padding-right: 64px;
}

.proj-hero-meta {
  margin-top: 12px;
  margin-bottom: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: 'GT Cinetype', sans-serif;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.proj-rich-text {
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'GT Cinetype', sans-serif;
  font-size: 24px;
}

.proj-rich-text h2 {
  padding-bottom: 8px;
  padding-left: 40px;
  color: #333;
  font-size: 26px;
  text-transform: none;
}

.proj-rich-text p {
  padding-right: 20px;
  padding-left: 40px;
  color: #4a4a4a;
  font-size: 18px;
  line-height: 190%;
}

.proj-rich-text h5 {
  font-family: 'GT Cinetype', sans-serif;
  color: #333;
  font-size: 24px;
  line-height: 140%;
}

.proj-rich-text blockquote {
  margin-left: 40px;
  font-size: 22px;
  line-height: 180%;
}

.proj-rich-text li {
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;
}

.proj-rich-text figcaption {
  margin-top: 20px;
  color: #4a4a4a;
  font-size: 18px;
}

.proj-rich-text h1 {
  color: #4a4a4a;
  font-size: 24px;
}

.proj-rich-text a {
  color: #333;
}

.proj-rich-text ol {
  padding-left: 60px;
}

.proj-rich-text figure {
  background-color: transparent;
}

.grid-2 {
  grid-template-areas: ". . ." ". . .";
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.proj-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". ." ". ." ". .";
  -ms-grid-columns: 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 16px auto 16px auto;
  grid-template-rows: auto auto auto;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-4 {
  background-color: #fceabb;
}

.section-5 {
  padding-top: 40px;
  padding-bottom: 20px;
}

.container-narrow {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.anchor-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.anchor-links.fixed {
  position: -webkit-sticky;
  position: sticky;
  z-index: auto;
  overflow: hidden;
}

.anchor-link {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-left: 2px none #000;
  font-family: 'GT Cinetype', sans-serif;
  color: #9e9e9e;
  font-size: 16px;
  text-decoration: none;
}

.anchor-link:hover {
  border-style: none;
  border-width: 1px 1px 1px 2px;
  border-color: #000;
  color: #000;
}

.anchor-link:active {
  border-left-style: none;
}

.anchor-link.w--current {
  padding-top: 20px;
  padding-bottom: 20px;
  border-left-style: solid;
  color: #333;
}

.anchor-link.w--current:hover {
  padding-bottom: 20px;
}

.section-6 {
  padding-top: 100px;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  min-width: 20%;
  padding-top: 40px;
  padding-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.content {
  padding-left: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading-3 {
  font-size: 50px;
}

.heading-4 {
  margin-bottom: 10px;
}

.proj-container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 991px) {
  .card-p {
    max-width: 90%;
  }
  .thumb-image {
    display: none;
  }
  .wday-mock {
    display: none;
  }
  .mm-mock {
    display: none;
  }
  .image {
    display: none;
  }
  .paragraph {
    max-width: 100%;
  }
  .project-image {
    padding-right: 8px;
    padding-left: 8px;
  }
  .proj-rich-text h2 {
    padding-left: 20px;
  }
  .proj-rich-text p {
    padding-left: 20px;
  }
  .sidebar {
    display: none;
  }
}

@media (max-width: 479px) {
  .footer {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .div-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image-2 {
    padding-right: 0px;
    padding-bottom: 24px;
  }
  .hero-div {
    padding-right: 8px;
    padding-left: 8px;
  }
  .body {
    padding-right: 12px;
    padding-left: 12px;
  }
  .hero-section.wd-hero-image.reduced-padding.overflow {
    min-height: 60vh;
    background-image: url('../images/hero-image.png'), -webkit-gradient(linear, left top, left bottom, from(#ffd0be), to(#ffd0be));
    background-image: url('../images/hero-image.png'), linear-gradient(180deg, #ffd0be, #ffd0be);
    background-position: 50% 50%, 0px 0px;
    background-size: 500px, auto;
    background-repeat: no-repeat, repeat;
  }
  .mm-hero {
    background-image: url('../images/hero-image.png'), -webkit-gradient(linear, left top, left bottom, from(#fceabb), to(#fceabb));
    background-image: url('../images/hero-image.png'), linear-gradient(180deg, #fceabb, #fceabb);
    background-position: 50% 50%, 0px 0px;
    background-size: auto 100%, auto;
  }
  .proj-hero {
    padding-left: 10px;
  }
  .proj-rich-text {
    padding-right: 0px;
    padding-left: 0px;
  }
  .flex-wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }
  .proj-container {
    padding-left: 0px;
  }
}

@font-face {
  font-family: 'GT Cinetype';
  src: url('../fonts/GT-Cinetype-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GT Cinetype';
  src: url('../fonts/GT-Cinetype-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}