body {
  margin: auto;
  max-width: 50em;
  font-family:'Rubik', sans-serif;
  color: #333333;
  line-height: 1.5;
  padding: 4em 1em;
}

.break {
  width: 50px;
  height: 10px;
  background-color: #F15050;
  border-radius: 4px;
}

a {
  color: #F15050;
  text-decoration: none;
}

a:hover {
  color: #333333;
}
 h2 {
  font-size: 2em;
  font-weight: 500;
}

.header {
  font-weight: 700;
  font-size: 2em;
}

p {
  font-size: 1em;
}

@media only screen and (max-width: 700px) {
  .header {
    font-weight: 700;
    font-size: 1.2em;
  }
}
