body {
font-size: 22px;
line-height: 1.75;
font-family: 'Open Sans', sans-serif;
background-color: pink;
}
.container {
  margin: 0 auto;
  max-width: 600px
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: blue;
}

p {
  font-weight: 400;
  color: blue;
  opacity: .5;
}
