
@import url('https://fonts.googleapis.com/css?family=Cardo:400,500,600|Work+Sans:400,500,600');

/* Basic Styles */
html {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: #333;
}

body {
  padding: 0rem 0rem 0rem 0rem;
  line-height: 1.5;
  font-family: 'Work Sans', sans-serif;

}

p {
  margin: 0 0 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #555;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
}

h2 {
  font-size: 1.6rem;
  font-weight: 500;

}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

h4 {
  font-size: .8rem;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
  color: #4a4a4a;
}

a:hover {
  color: #2e61ff;
  text-decoration: none;
}

.align-right {
  text-align: right;
}

hr.break {
    margin: 2rem 2rem;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Masthead */
.masthead {
  margin-top: -3rem;
  margin-bottom: .8rem;
  font-size: 1rem;
  color: #333;
  height: 60px;
}
.masthead:after {
  display: block;
  content: "";
  width: 100px;
  height: 1px;
  margin: 3rem auto;
}

.navigation {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navigation li {
  display: inline-block;
  font-weight: 500;
}
.navigation li + li {
  margin-left: 1.2rem;
}

@media (min-width: 52em) {
  .masthead {
    padding-top: 0rem;
    text-align: right;
  }
  .masthead-title {
    float: left;
  }
}

.navigation {
  padding-left: 0;
  margin-bottom: 4rem;
  list-style: none;
}
.navigation li {
  display: inline-block;
  font-weight: 500;
}
.navigation li + li {
  margin-left: 1.2rem;
}


/* Intro */
.intro {
  font-weight: 400;
  font-size: 1.2rem;
}

.intro > a {
  color: #2e61ff;
  font-weight: 500;
}

.intro > a:hover {
  color: #555;
  text-decoration: none;
}

/* Work */

.container {
  max-width: 50rem;
}
.wrapper-blue {
  background-color: #f3f4f8;
  width: 100%;
  padding: 120px 0;

}

.bluebg {
  background-color: #fdfdfd;
}

.wrapper-white {
  background-color: #fdfdfd;
  width: 100%;
  padding: 100px 0;
}

.wrapper-beige {
  background-color: #FFF5E3;
  width: 100%;
  padding: 120px 0;

}

}

.no-shadow {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  -moz-box-shadow: 0px -5px 6px 0px rgba(0,0,0,0);
  box-shadow: 0px -5px 6px 0px rgba(0,0,0,0);
}

.work-subheader {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.work-header {
  margin: 1.5rem 0rem;
}

.work-link {
  font-weight: 500;
  color: #2e61ff;
}

.work-link:hover {
  font-weight: 500;
  color: #555;
}

.col-post {
  -webkit-box-flex: 1 0 50%;   /* OLD - iOS 6-, Safari 3.1-6 */
  -webkit-flex: 1 0 50%;       /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1 0 50%;           /* IE 10 */
  flex: 1 0 50%;
}

.col-post > p {
  max-width: 23rem;
}

/* Animation */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

/* Contact */

.wrapper-contact {
  background-color: #2e61ff;
  width: 100%;
  height: auto;
  padding: 60px 0;
  -webkit-box-shadow: 0px -5px 6px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px -5px 6px 0px rgba(0,0,0,0.08);
  box-shadow: 0px -5px 6px 0px rgba(0,0,0,0.08);
}

.contact > h1{
  text-align: center;
  color: #fdfdfd;
}

/*post */

.aoe-header {
  background-image: url(../img/aoe/aoe-header.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 120px 0;
  min-height: 400px;
}

.mm-header {
  background-image: url(../img/mm/mm-header.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;

  padding: 120px 0;
  min-height: 400px;
}

.content-img {
  max-width: 50rem;
}

.content-img-align {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  max-width: 100%;
}

.content > h2 {
  margin-top: 1em;
  padding-top: 1em;
}

.content {
  line-height: 1.5;
  padding: 4em 0em;
}

.content p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.7;
}

.content b {
  color: #333;
  font-weight: 500;
}


.img-card {
  margin-bottom: 1.5em;
  -webkit-box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.2);
  box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.2);
}

.img-card-content {
  padding: 1em;
}

.post {
  min-height: 160px;
  padding: 20px 0px 20px 0px;
  font-size: 1.6rem;
  color:#555;
  font-weight: 500;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.item {
  flex: 0 1 auto;
}

.highlight {
  display: inline-block;
  margin-left: 2rem;
  color: #2e61ff;
}
